<!DOCTYPE html>
<html>
<head>
  <title>Good Job Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <style>
    <%== render file: GoodJob::Engine.root.join("app", "assets", "vendor", "bootstrap", "bootstrap.css") %>
    <%== render file: GoodJob::Engine.root.join("app", "assets", "vendor", "chartist", "chartist.css") %>
    <%== render file: GoodJob::Engine.root.join("app", "assets", "style.css") %>
  </style>

  <script>
    <%== render file: GoodJob::Engine.root.join("app", "assets", "vendor", "bootstrap", "bootstrap-native.js") %>
    <%== render file: GoodJob::Engine.root.join("app", "assets", "vendor", "chartist", "chartist.js") %>
    <%== render file: GoodJob::Engine.root.join("app", "assets", "vendor", "time-elements", "time-elements.js") %>

  </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
      <%= link_to "GoodJob ðŸ‘", root_path, class: 'navbar-brand mb-0 h1' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to root_path, class: ["nav-link", ("active" if current_page?(root_path))] do %>
              All Jobs
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to job_classes_path, class: ["nav-link", ("active" if current_page?(job_classes_path))] do %>
              Job Classes
            <% end %>
          </li>

          <!-- Coming Soon
            <li class="nav-item">
              <%= link_to "Upcoming Jobs", 'todo', class: ["nav-link", ("active" if current_page?('todo'))] %>
            </li>
            <li class="nav-item">
              <%= link_to "Finished Jobs", 'todo', class: ["nav-link", ("active" if current_page?('todo'))] %>
            </li>
            <li class="nav-item">
              <%= link_to "Errored Jobs", 'todo', class: ["nav-link", ("active" if current_page?('todo'))] %>
            </li>
          -->
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <%= render partial: "/shared/flash" %>

    <%= yield %>
  </div>
</body>
</html>
